- prevp = @pagenum - 1
- nextp = @pagenum + 1

.container
  .row
    .span12
      #selected
  .row
    #photos
      - for image in @images[@pagenum*99,99] || [] do
        .span4
          %img{ |
            :class => "lazy#{ redis.exists(key_for_photo(@operation, image)) ? ' selected' : ''}", |
            :src => "/img/placehold.gif", |
            :data => {:original => '/resize/300x300/' + image, :select_url=> "/#{@operation}/select/#{image}" }, |
            :width => 300, |
            :title => url.gsub(/^photos./,'') |
          } |
  .row
    .span12
      .pagination.pagination-centered
        %ul
          - if prevp != -1
            %li
              %a{:href => "#{@prefix}/#{prevp}"}
                &larr; Prev
          %li
            %a{:href => "#{@prefix}/#{nextp}"}
              Next &rarr;
  %div= haml :footer
