- prevp = @pagenum - 1
- nextp = @pagenum + 1

.container
  .row
    .span12
      #selected
  .row
    #gallery{ data: { toggle: 'modal-gallery', target: '#modal-gallery' } }
      - for image in @images[@pagenum*99,99] || [] do
        .span4
          %a{ href: '/photos/' + image, title: image, data: { gallery: 'gallery' } }
            =haml :thumbnail, locals: { image: image }
  .row
    .span12
      .pagination.pagination-centered
        %ul
          - if prevp != -1
            %li
              %a{:href => "#{@prefix}/#{prevp}"}
                &larr; Prev
          %li
            %a{:href => "#{@prefix}/#{nextp}"}
              Next &rarr;
  %div= haml :footer
